[submodule "puppet/modules/jenkins"]
	path = puppet/modules/jenkins
	url = https://github.com/jenkinsci/puppet-jenkins.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
